body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Literata', serif;
}

p {
    line-height: 2.2;
}

i {
    margin-bottom: 80px;
}